/* Existing Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
  background-color: #021f2a;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 12%;
}

.card {
  background-color: white;
  width: 200px;
  height: 60%;
  padding: 80px;
  border-radius: 20px;
box-shadow: 10px 10px 5px oklab(76.413% -0.02114 -0.00643);
  text-align: center;
}

.card img {
  width: 60px;
  height: 40px;
  text-align: center;
}

.card2 {
  background-color: white;
  width: 240px;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px oklab(76.413% -0.02114 -0.00643);
  text-align: center;
}

.card2 img {
  width: 60px;
  height: 70px;
  text-align: center;
}

.enroll {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.enroll:hover {
  background-color: #0056b3;
}

.arrow {
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: hwb(206 92% 5%);
}

.arrow:hover {
  color: #5dd10a;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #00d5ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle:hover {
  transform: scale(1.05);
}

/* NEW CSS FOR SLIDES */
.slides > .slide {
  display: none;
  flex-direction: row;
  gap: 40px;
}
/* .slides < .slide {
  display: none;
  flex-direction: row;
  gap: 40px;
} */


/* Show targeted slide */
#slide1:target,
#slide2:target,
#slide3:target {
  display: flex;
}

/* Show first slide by default */
body:not(:has(:target)) #slide1 {
  display: flex;
}
